.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

/* Optional: improve spacing between cards */
.my-masonry-grid_column > div {
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }

  .gallery-card-footer button {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}
